<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Socmedica" value="https://nuget.socmedica.dev/nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <Socmedica>
        <add key="Username" value="nuget" />
        <add key="ClearTextPassword" value="PMog1kTgvdfY" />
      </Socmedica>
  </packageSourceCredentials>
</configuration>