name: SignalR test project build
on:
  push:
    branches: [ main ]
      
env:
  IMAGE_NAME: test-image
      
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
          
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: vladzvx/signalr-test:server
          
      - name: deploy
        uses: appleboy/ssh-action@master
        with:
          host: 87.247.157.64
          username: root
          password : MfjCQknxS6
          port: 22
          script: |
            docker stop signalr_test
            docker rm signalr_test
            docker login -u  vladzvx -p QW12cv9001Qw_
            docker pull vladzvx/signalr-test:server
            docker run --name signalr_test -d -p 5000:5000 vladzvx/signalr-test:server
